<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
	<test name="GC Test">
		<parameter name="port" value="4455"/>
		<classes>
			<class name="com.GridDemo.GridEx" />
		</classes>
	</test>
	<test name="FF Test">
		<parameter name="port" value="4457"/>
			<classes>
				<class name="com.GridDemo.GridEx" />
			</classes>
	</test>
</suite> <!-- Suite -->
